:root {
  --bg-color: #fff;
  --primary-font-family: "Nunito", sans-serif;
  --p-font-family: "Roboto", sans-serif;
  --text-color: #272142;
}
@media (max-width: 567px) {
  .hero {
    background: grey !important;
  }
  .hero p {
    font-size: 18px !important;
  }
  .hero h1 {
    font-size: 50px !important;
  }
  .container {
    margin-top: 40px !important;
  }
  nav {
    margin: 0 auto !important;
  }
  .about-hero h1 {
    font-size: 30px !important;
    margin-bottom: 20px !important;
  }
  .intro {
    display: block !important;
    margin-left: 0 !important;
  }
  .intro-img {
    width: 400px !important;
  }

  .details h2 {
    font-size: 24px !important;
    margin: 0 !important;
  }
  .details {
    padding-left: 0 !important;
  }
  .details p {
    font-size: 15px !important;
    padding: 0 !important;
    line-height: 20px !important;
  }
  .details h3 {
    font-size: 15px !important;
  }
  .favorite-recipe {
    margin-left: 50px !important;
  }
  .favorite-recipe h2 {
    font-size: 25px !important;
  }
  .favorite-recipe h3 {
    font-size: 15px !important;
  }

  .favorite-recipe-img {
    display: block !important;
    width: 300px !important;
  }
  .favorite-recipe-img p {
    font-size: 15px !important;
    width: 400px !important;
  }
  .footer {
    display: block !important;
    padding: 0 !important;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
nav {
  max-width: 75%;
  margin: 10px auto;
}

.navbar-nav .nav-item a {
  color: var(--text-color);
}

.navbar-nav .nav-item a:active,
.navbar-nav .nav-item a.active {
  color: #662eed;
}

.nav-link {
  font-size: 16px;
  font-weight: 800;
  font-family: var(--primary-font-family);
  line-height: 1em;
  padding: 10px 20px !important;
}

.navbar-brand,
.nav-link,
.nav-link:hover {
  color: var(--text-color);
}
.navbar-brand,
.logo {
  font-size: 40px;
  font-weight: bold;
  color: var(--text-color) !important;
}
.container {
  width: 50%;
  margin-top: 80px;
}

.container p {
  margin: 10px 0 25px;
  font-family: var(--primary-font-family);
  font-weight: 700;
}

.hero {
  text-align: center;
  margin-top: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url(images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  color: var(--bg-color);
  font-family: var(--primary-font-family);
}

.hero h1 {
  font-size: 72px;
  margin-bottom: 10px;
  padding-top: 30px;
}
.hero p {
  font-size: 24px;
  line-height: 1.5em;
  margin-top: 0;
  padding-bottom: 30px;
}
.about-hero {
  text-align: center;
}
.about-hero h1 {
  font-size: 72px;
  font-family: var(--primary-font-family);
  color: var(--text-color);
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 100px;
}
.intro {
  display: flex;
  margin-left: 150px;
}
.details {
  padding-left: 30px;
  line-height: 1.5em;
  width: 500px;
}
.details h2 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  line-height: 87px;
  font-size: 64px;
  color: var(--text-color);
  margin: 50px 0 30px 0;
}
.details p {
  font-family: var(--primary-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 0 0 30px 0;
}
.details h3 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.favorite-recipe {
  margin-bottom: 80px;
}
.favorite-recipe h2 {
  text-align: center;
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
}
.favorite-recipe h3 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.favorite-recipe-img {
  display: flex;
  justify-content: space-evenly;
}
.favorite-recipe-img p {
  width: 350px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  background: #f9f7fe;
  color: var(--text-color);
  padding: 10px;
}

.footer i,
.details i {
  padding: 10px;
  margin-top: 20px;
}
.footer p {
  font-size: 16px;
  font-family: var(--p-font-family);
  font-weight: 400;
  margin-top: 25px;
}
