:root {
  --bg-color: #e5e5e5;
  --primary-font-family: "Nunito", sans-serif;
  --sec-font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--bg-color);
}
.hero {
  text-align: center;
  margin-top: 70px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url(images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: var(--primary-font-family);
}

.hero h1 {
  font-size: 72px;
  margin-bottom: 0;
  padding-top: 30px;
}
.hero p {
  font-size: 24px;
  line-height: 1.5em;
  margin-top: 0;
  padding-bottom: 30px;
}
